body {
    font-family: arial, helvetica;
    
}
/*#info {width:160px; border:thin solid silver; padding:.5em; position:fixed;}*/
#info {width:100%; border:thin solid silver; padding:.5em; position:fixed; display: flex; justify-content: space-around; align-items: center;}
>>>>>>> refs/remotes/origin/master
#info h1 {margin: 0;}

a {
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color:cadetblue
}

<<<<<<< HEAD
.mRaton{
    display: flex;
    width: 100%;
    border: solid;
=======
#mRaton{
    display: flex;
    border: thin solid silver;
    align-items: center;
    flex-wrap: wrap;
}
#mRaton h1{
    display: flex;
    justify-content: center;
    width: 100%;
}
#mrn{
    display: flex;
    justify-content: center;
    width: 100%;
}
#mrp{
    display: flex;
    justify-content: center;
    width: 100%;
}
#txmr{
    display: flex;
    width: 100%;
    border-top: thin solid silver;
    justify-content: center;
}

#cRaton{
    display: flex;
    border: thin solid silver;
    align-items: center;
    flex-wrap: wrap;
}
#cRaton h1{
    display: flex;
    justify-content: center;
    width: 100%;
}
#crn{
    display: flex;
    justify-content: center;
    width: 100%;
}
#crp{
    display: flex;
    justify-content: center;
    width: 100%;
}
#txcr{
    display: flex;
    width: 100%;
    border-top: thin solid silver;
    justify-content: center;
}

#teclado{
    display: flex;
    border: thin solid silver;
    align-items: center;
    flex-wrap: wrap;
}
#teclado h1{
    display: flex;
    justify-content: center;
    width: 100%;
}
#tca{
    display: flex;
    justify-content: center;
    width: 100%;
}
#tco{
    display: flex;
    justify-content: center;
    width: 100%;
}
#txt{
    display: flex;
    width: 100%;
    border-top: thin solid silver;
    justify-content: center;
>>>>>>> refs/remotes/origin/master
}